@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300&display=swap');
/* 
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 
   https://htmlcssphpjs.github.io/ 
   @vsecoder - developer
*/

.phoneImg {
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 1900px;
}

header {
    max-width: 100%;
    background: #ffee1a;
    /*height: calc(100% - 812px);*/
    width: 100%;
    max-width: 1900px;
}
main {
    margin-top: 80px;
}
footer {

}

#none,
#none1 {
    display: none;
}

#display {
    display: flex;
}

#display1 {
    display: block;
}

.list-open::after {
    box-sizing: inherit;
    content: "";
    margin-left: 5px;
    margin-bottom: 5px;
    width: 10px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

dev {
    color: white;
    display: none;
}

.list-close::after {
    box-sizing: inherit;
    content: "";
    margin-left: 5px;
    margin-bottom: 5px;
    width: 10px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.js h2 {
    text-align: center;
    display: block;
    cursor: pointer;
}

html,
body {
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 1.5;
    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h2 {
    font-size: 3rem;
    font-weight: 500;
    margin: 20px 0;
}

img {
    max-width: 100%;
}

p {
    margin: 0 0 10px 0;
}

.max-width {
    width: 100%;
    padding: 0 calc((100% - 1560px) / 2);
}

.btn {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 200;
    background-color: #f9d038;
    color: #000;
    margin: 0;
    padding: 10px 40px;
    border-radius: 50px;
    border: unset;
}

.divtext p {
    margin-left: 5px;
}

label {
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: calc(15% - 10px);
    display: inline-block;
}

form input {
    width: 80%;
    font-size: 1rem;
    font-weight: 200;
    background-color: #fff;
    color: #000;
    margin-left: calc(10% - 10px);
    padding: 8px 30px;
    border-radius: 50px;
    border: 2px solid #d4d8d9;
    font-style: italic;
    display: inline-block;
}

form input.btn {
    font-style: normal;
    margin-left: calc(10% - 10px);
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #184682;
    color: #fff;
}

header.fixed {
    position: fixed;
    z-index: 999;
    top: 0;
    padding: 5px;
}

header .logo,
footer .logo {
    display: flex;
    align-items: center;
}

header .logo .img,
footer .logo .img {
    width: auto;
    max-width: 110px;
    margin-right: 4%;
}

header .logo .sitename,
footer .logo .sitename {
    font-size: 1.25rem;
    font-weight: 900;
    white-space: nowrap;
}

header .logo .siteslogan,
footer .logo .siteslogan {
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 300;
}

header .logo p,
footer .logo p {
    margin: 0;
}

header .menu>ul,
footer .menu>ul {
    display: flex;
    align-items: baseline;
    list-style: unset;
    padding-left: 0;
}

header .menu>ul li,
footer .menu>ul li {
    display: inline-block;
}

header .menu>ul li+li,
footer .menu>ul li+li {
    margin-left: 25px;
}

header .menu>ul li a,
footer .menu>ul li a {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: unset;
    border-bottom: 4px solid transparent;
    margin-bottom: 5px;
    display: block;
}

header .menu>ul li:hover a,
footer .menu>ul li:hover a {
    border-color: #f9d038;
}

header .phones,
footer .phones {
    text-align: right;
}

header .phones a,
footer .phones a {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
    display: block;
    text-decoration: unset;
}
.form-catalog {
    border: 10px solid #f9d038;
    padding: 5%;
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 1.2;
}

.form-catalog>img {
    width: 18%;
    float: left;
    margin-right: 4%;
}

.form-catalog form {
    clear: both;
    margin-top: 20px;
}

.form-catalog input {
    width: 48%;
}

.services {
    background-color: #184682;
    border-top: 1px solid transparent;
    margin-top: -1px;
}

.services h2 {
    color: #fff;
}

h2 {
    font-size: 1.6rem;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
    grid-auto-rows: 1fr;
    padding-bottom: 20px;
}

.items .item {
    width: 100%;
    background: #e9f1f3;
    display: flex;
    align-items: stretch;
    border: 1px solid #b5c7cb;
    overflow: hidden;
}

.items .item .text {
    width: 56%;
    position: relative;
    align-self: stretch;
    align-content: center;
    padding: 2% 0 2.5% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.6rem;
    line-height: 1.3;
}

.items .item .text:after {
    content: "";
    position: absolute;
    right: -60px;
    width: 150px;
    height: 101%;
    top: 0;
    transform: skewX(-17deg);
    background: #e9f1f3;
}

.items .item .text p {
    margin-bottom: 0;
    z-index: 99;
}

.items .item .text ul {
    margin: 0;
    z-index: 99;
    padding-left: 20px;
    font-size: 1.5rem;
}

.items .item img {
    width: 44%;
    object-fit: cover;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}
.divimg {
    display: inline;
}

.divtext {
    margin-right: 5px;
}

.slogan {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    padding: 0px 30px;
    color: white;
    background: rgba(1, 1, 1, 0.6);
    margin-left: 5%;
    font-size: 2.5rem;
}

@media (max-width: 980px) {
    .slogan {
        top: 25%;
        font-size: 1.2rem;
    }
    .items .item .text {
        font-size: 1rem;
    }
    .items .item {
        width: 100%;
        margin-top: 20px;
    }
    .items {
        display: block;
    }
    .items .item .text:after {
        right: -20px;
        width: 36px;
    }
    header {
        text-align: center;
    }
    h2 {
        font-size: 2rem;
        margin: 10px 0;
    }

    .btn:not(input) {
        padding: 1% 3%;
    }

    header .logo,
    footer .logo {
        white-space: nowrap;
    }

    header .logo .img,
    footer .logo .img {
        max-width: 60px;
    }

    header .logo .sitename,
    footer .logo .sitename {
        font-size: 1.8rem;
    }

    header .logo .siteslogan,
    footer .logo .siteslogan {
        font-size: 12px;
    }

    header .phones,
    footer .phones {
        width: 100%;
        text-align: center;
    }

    header .phones a,
    footer .phones a {
        font-size: 1.15rem;
    }
    header .menu, header .phones {
        display: none;
    }
}

@media (max-width: 780px) {

    header .phones a span,
    footer .phones a span {
        display: none;
    }
}

@media (max-width: 640px) {

    header.max-width,
    footer.max-width {
        flex-wrap: wrap;
    }

    header .phones,
    footer .phones {
        margin-right: 0;
    }

    header .btn,
    footer .btn {
        margin-left: auto;
        padding: 1% 1.5%;
        white-space: nowrap;
    }
}

@media (max-width: 1280px) {
    .banner .text span {
        font-size: 3rem;
    }

    .items .item .text:after {
        right: -50px;
        width: 100px;
    }
}